.box {
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: 1px solid black;
  border: none;
  font-size: 25px;
}

.box:hover {
  background-color: lightgray;
}

.row {
  display: flex;
}

.options {
  display: flex;
  flex-direction: column;
}

.optionBtn {
  width: 100px;
  height: 20px;
}

.gameBoard {
  width: fit-content;
  margin: 10px auto;
}
